html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-size: 16px;
  padding: 0;
  margin: 0;
}

.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
  padding: 0px 20px;
  min-height: 50px;
}

.logo {
  font-size: 20px;
  padding: 0;
  margin: 0;
  margin-right: auto;
  font-weight: bold;
}

.header ul {
  list-style: none;
  display: flex;
  gap: 16px;
  margin: 0;
  padding: 0;
}

footer {
  min-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: #e5e7eb;
}

.dark {
  background-color: #1f2937;
  color: #e5e7eb;
}